modules = ["nodejs-20"]
[agent]
expertMode = true
integrations = ["javascript_database:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["ffmpeg"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Bot"

[[workflows.workflow]]
name = "Start Bot"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33871
externalPort = 3001

[userenv]

[userenv.shared]
DATABASE_URL_OVERRIDE = "true"
MONGODB_URI = "mongodb+srv://NazzelWebsite:Website716291@cluster0.chtay4c.mongodb.net/webdb?retryWrites=true&w=majority"
OWNER_ID = "100055456757551"
REDIS_URL = "rediss://default:ASVgAAImcDIzNDI5ZGMzNTU1ODg0MjE5Yjc1ZmFkYzgzZDQwMjUzMHAyOTU2OA@meet-doe-9568.upstash.io:6379"
